:root{
  --letfooter:rgb(255, 255, 255);
  --actfooter:hsl(39, 89%, 49%);
}
.attribution{
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  color: var(--letfooter);
  z-index: 3;
  font-weight: 500;
}
.attribution a{
  color: var(--letfooter);
}
.attribution a:hover{
  color: var(--actfooter);
}
