.animando {
  -webkit-animation-name: cssAnimation;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  background-image: url("../assets/images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
}
.animando2 {
  -webkit-animation-name: cssAnimation2;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  display: flex;
  margin-top: 5rem;
  margin-bottom: 10rem;
  gap: 6rem;
}
@media (max-width:500px){
  .animando2 {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0rem;
  }
}

@-webkit-keyframes cssAnimation {
  from {
    opacity: 1;

  }
  to {
    opacity: 0;

  }
}
@-webkit-keyframes cssAnimation2 {
  from {
    opacity: 0;

  }
  to {
    opacity: 1;

  }
}

.contenedorgame{
  display: flex;
  justify-content: center;
}
.contenedorppaljuego{
  background-image: url("../assets/images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  opacity: 1;
  margin: 4rem 0rem;
}
@media (max-width:500px){
  .contenedorppaljuego{
    background-size: 20rem;
  }
}
.ubicaciongrid{
  display: flex;
  justify-content: center;
  padding: 2rem;
}
@media (max-width:500px){
  .ubicaciongrid{
    padding: 1rem;
  }
}

.rock{
  grid-column: 1/3;
}
.circuloext{
  padding: 2rem;
  border-radius: 10rem;
  cursor: pointer;
}
.circuloint{
  padding: 2rem;
  background-color: hsl(0, 0%, 83%);
  border-radius: 10rem;
  height: 14rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 6px 0px hsl(216, 19%, 72%) inset;
}
@media (max-width:500px){
  .circuloint{
    padding: 1rem;
    height: 10rem;
    width: 10rem;
  }
}
.blue{
  background: linear-gradient(0deg, hsl(230, 89%, 62%) 41%,hsl(230, 89%, 65%) 55%);
  box-shadow: 0px 8px hsl(230, 76%, 53%);
}
.yellow{
  background: linear-gradient(0deg, hsl(39, 89%, 49%) 41%,hsl(40, 84%, 53%) 55%);
  box-shadow: 0px 8px hsl(39, 89%, 42%);
}
.red{
  background: linear-gradient(0deg, hsl(349, 71%, 52%) 41%,hsl(349, 70%, 56%) 55%);
  box-shadow: 0px 8px hsl(349, 65%, 40%);
}
.gris{
  background:hsla(0, 0%, 35%,0);
}
.contjugando{
  display: none; 
}

.fondorival{
  padding: 2rem;
  background-color: hsla(0, 0%, 15%, 0.376);
  border-radius: 10rem;
  height: 20rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width:500px){
  .fondorival{
    padding: 2rem;
    height: 10rem;
    width: 10rem;
  }
}
.contdefi{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width:500px){
  .contdefi{
    grid-row: 2/3;
    grid-column: 1/3;
  }
}
.contmensaje{
  font-size: 6rem;
  color: white;
}
@media (max-width:500px){
  .contmensaje{
    font-size: 5rem;
  }
}
.circuloext2{
  padding: 3rem;
  border-radius: 20rem;
  cursor: pointer;
  height: 26rem;
  width: 26rem;
}
.circuloint2{
  padding: 2rem;
  background-color: hsl(0, 0%, 83%);
  border-radius: 20rem;
  height: 20rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 6px 0px hsl(216, 19%, 72%) inset;
}
@media (max-width:500px){
  .circuloext2{
    padding: 1.5rem;
    border-radius: 20rem;
    cursor: pointer;
    height: 13rem;
    width: 13rem;
  }
  .circuloint2{
    background-color: hsl(0, 0%, 83%);
    border-radius: 20rem;
    height: 10rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 6px 0px hsl(216, 19%, 72%) inset;
  }
  .sentido{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 6rem;
  }
}
.circuloint2 img{
  scale: 1.5;
}
@media (max-width:500px){
  .circuloint2 img{
    scale: 1;
  }
}
.contbutton{
  width: 100%;
}
.contbutton button{
  padding:1rem 3rem;
  font-size: 1.8rem;
  border-radius: 1rem;
  width: 100%;
  border: none;
  color: hsl(229, 25%, 31%);
}
@media (max-width:500px){
  .contbutton{
    width: 65%;
  }
}
.contbutton button:hover{
  color: hsl(0, 47%, 45%);
  cursor: pointer;
}
.cabec{
  width: 100%;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
@media (max-width:500px){
  .cabec{
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
  }
}
.circsup,.circcent,.circulinf{
  border-radius: 100rem;
}
.circsup,.circcent{
  padding: 8rem; 
}
.circsup{
  -webkit-animation-name: cssAnimationganador;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  position: absolute;
  background-color: hsla(0, 100%, 99%, 0.043);
  height:70rem;
  width: 70rem;
  margin-top: -22rem;
  margin-left: -22rem;
  z-index: -1;
}
@media (max-width:500px){
  .circsup{
    height:30rem;
    width: 30rem;
    margin-top: -12rem;
    margin-left: 0rem;
    
  }
  .circsup,.circcent{
    padding: 3rem; 
  }
}
.circcent,.circulinf{
  width: 100%;
  height: 100%;
}
.circcent{
  background-color: hsla(0, 100%, 99%, 0.060);
}
.circulinf{
  background-color: hsla(0, 100%, 99%, 0.080);
}


@-webkit-keyframes cssAnimationganador {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}